:root{
	font-size: 18px;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	--black-text: #2C2C2C;
	--grey-text: #4C4C4C;
	--primary-color: #00CFFF;
	--primary-color-hover: #02B4DB;
	color: var(--black-text);
}

/* Svg Animation */

#roll,
#tool{
	transform-origin: center;
	transform-box: fill-box;
}

#tool{
	animation: spin 10000ms linear infinite;
}

#roll{
	animation: spin 5000ms linear infinite;
}

@keyframes spin{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
}

/* Global */

.nav-burger{
	display: none;
}

h1{
	font-size: 3rem;
	font-weight: 300;
}

h2{
	font-size: 2.2rem;
	text-align: center;
	color: var(--grey-text);
	font-weight: 300;
}

h3{
	font-size: 1.5rem;
	font-weight: 400;
}

h4{
	font-size: 1.3rem;
	font-weight: 500;
}

p{
	font-size: 1.1rem;
	line-height: 30px;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

.logo{
	font-weight: 500;
	cursor: pointer;
	font-size: 1.25rem;
}

button, input[type="submit"]{
	cursor: pointer;
	padding: 10px 20px;
	border: none;
	background: var(--primary-color);
	color: #fff;
	outline: none;
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;

}

button:hover, 
input[type="submit"]:hover{
	background: var(--primary-color-hover);
}

input, textarea{
	outline: none;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}

header nav, 
section .wrapper, 
footer .wrapper{
	max-width: 1440px;
	margin: auto;
}

section, footer{
	padding: 7rem 30px;
}

/* Header */

header{
	padding: 1rem 30px;
}

header nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav .nav-content{
	display: flex;
	align-items: center;
}

header nav .nav-content li{
	margin: 0 20px;
}

header nav .nav-content a:hover{
	color: #00CFFF;
}

/* Front */

main .front{
	padding: 10rem 30px;
}

main .front .wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main .front .wrapper .front-text{
	width: 50%;
}

main .front .wrapper .front-text p{
	margin: 10px 0 20px 0;
	color: var(--grey-text);
}

main .front .wrapper .front-text button{
	border-radius: 25px;
}

main .front .wrapper .front-text .front-img{
	width: 50%;
}

main .front .wrapper .front-text .front-img svg{
	width: 100%;
}

/* About */

main .about .wrapper .about-content{
	display: flex;
	margin: 5rem 0;
	justify-content: space-between;
}

main .about .wrapper .about-content .about-img{
	width: 50%;
	margin-right: 10px;
}

main .about .wrapper .about-content .about-img img{
	width: 100%;
	max-width: 600px;
}

main .about .wrapper .about-content .about-text{
	width: 50%;
	margin-left: 10px;
}

main .about .wrapper .about-content .about-text h4{
	margin-bottom: 20px;
}

main .about .wrapper .about-content .about-text p{
	margin-bottom: 10px;
	color: var(--grey-text)
}

/* Services */

main .services .wrapper{
	width: 80%;
	margin: auto;
}

main .services .services-card{
	margin: 2.5rem 0;
	display: flex;
}

main .services .services-card img{
	width: 150px;
	margin: 2rem;
}

main .services .services-card p{
	margin: 1rem 0;
	color: var(--grey-text);
}

/* Pricing */

main .pricing .pricing-card{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5rem 0;
	flex-wrap: wrap;
}

main .pricing .pricing-card .card{
	margin: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem;
	box-shadow: 
		0 5px 5px 0 rgba(0,0,0,.2),
		0 2px 10px 0 rgba(0,0,0,.1);
	max-width: 300px;
}

main .pricing .pricing-card .card .title{
	margin-bottom: 10px;
}

main .pricing .pricing-card .card .price{	
	font-weight: 300;
	font-size: 2rem;
	color: var(--primary-color);
}

main .pricing .pricing-card .card .price .recommended{
	font-weight: 300;
	padding: 5px;
	color: #fff;
	margin: 10px 0;
	display: block;
	border-radius: 5px;
	background: var(--primary-color);
	font-size: 1rem;
	opacity: .8;
}

main .pricing .pricing-card .card .content{
	padding: 2rem 0;
}	

main .pricing .pricing-card .card .content p{
	color: var(--grey-text);
}

/* Contact */

main .contact h3{
	margin: 2rem 0;
}

main .contact .contact-content{
	display: flex;
	justify-content: space-between;
}

main .contact .contact-content form{
	width: 50%;
	max-width: 450px;
	display: flex;
	flex-direction: column;
}

main .contact .contact-content form label{
	margin-bottom: 5px;
	font-weight: 500;
}

main .contact .contact-content form input, textarea{
	margin-bottom: 1rem;
	padding: 8px;
	font-size: 1.2rem;
	border-radius: 5px;
}

main .contact .contact-content form textarea{
	resize: none;
	height: 200px;
}

main .contact .contact-content form input[type="text"],
input[type="email"],
textarea{
	border: solid 1px #A7A7A7;
}

main .contact .contact-content .contact-list{
	width: 50%;
}

main .contact .contact-content .contact-list .social h3{
	margin: 0 0 2rem 0;
}

main .contact .contact-content .contact-list .social ul li{
	margin-bottom: 20px;
}

/* Footer */

footer{
	padding-bottom: 10rem;
	background: #222222;
	color: #fff;
}

footer .wrapper{
	display: flex;
	justify-content: space-between;
}

footer .wrapper .links{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
}

footer .wrapper .links .link ul li{
	margin: 10px 0;
	cursor: pointer;
}

footer .wrapper .links .link ul li:hover{
	text-decoration: underline;
}

/* Media Queries */

@media (max-width: 1100px){

	h1{
		font-size: 2.8rem;
	}

	h2{
		font-size: 1.8rem;
	}

	h3{
		font-size: 1.2rem;
	}

	h4{
		font-size: 1rem;
	}

	p,
	li,
	input,
	textarea{
		font-size: .9rem !important;
	}

	.nav-burger{
		display: block;
		cursor: pointer;
	}

	.nav-burger .line{
		width: 40px;
		height: 2px;
		background: #000;
		margin: 8px 0;
	}

	header nav .nav-content{
		position: absolute;
		left: 0;
		right: 0;
		top: 74px;
		background: #fff;
		box-shadow: 
			0 15px 15px 0 rgba(0,0,0,.1),
			0 8px 10px 0 rgba(0,0,0,.2);
		flex-direction: column;
		display: none;
	}

	header nav .nav-content.active{
		display: flex;
	}

	header nav .nav-content li{
		margin: 20px 0;
	}

	main .front .wrapper .front-img svg{
		display: none;
	}

	main .front .wrapper .front-text{
		width: 80%;
	}

	main .about .wrapper .about-content{
		flex-direction: column;
		align-items: center;
	}

	main .about .wrapper .about-content .about-img{
		width: 80%;
		text-align: center;
	}

	main .about .wrapper .about-content .about-img img{
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
	}

	main .about .wrapper .about-content .about-text{
		width: 80%;
		margin-left: 0px;
	}

	main .services .services-card{
	    flex-direction: column;
	    align-items: center;
	    text-align: center;
	}

	main .contact .wrapper{
		text-align: center;
	}

	main .contact .contact-content{
		flex-direction: column;
		align-items: center;
	}

	main .contact .contact-content form{
		width: 80%;
	}

	main .contact .contact-content .contact-list{
		width: 80%;
	}

}

@media (max-width: 830px){

	section,footer{
		padding-left: 10px;
		padding-right: 10px;
	}

	h1{
		font-size: 2.3rem;
	}

	h2{
		font-size: 1.3rem;
	}

	h3{
		font-size: .9rem;
	}

	h4{
		font-size: .8rem;
	}

	p{
		line-height: 20px;
	}

	footer .wrapper{
		flex-direction: column;
	}

	footer .wrapper .links{
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	footer .wrapper .links .link{
		margin: 2rem 0;
	}
}


@media (max-width: 530px){

	.logo{
		font-size: .8rem;
	}

	h1{
		font-size: 1.5rem;
	}

	p,
	li,
	input,
	textarea,
	.recommended,
	button{
		font-size: .7rem !important;
	}
}